<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Triptell</title>
    <link rel="stylesheet" type="text/css" href="/css/style.css" />
    <link rel="stylesheet" type="text/css" href="/css/landing.css" />
  </head>

  <body>
    <header>
      <nav>
        <div class="logo">
          <h1>TripTell</h1>
        </div>
        <div class="nav-links">
          <a href="/">Home</a>
          {{#if loggedIn}}
            <button id="logout" class="btn-no-style">Logout</button>
          {{else}}
            <a href="/login">Login</a>
          {{/if}}
        </div>
      </nav>
    </header>
    {{{body}}}
    <footer>
      <p>&copy; 2024 TripTell. All rights reserved.</p>
    </footer>
    {{#if loggedIn}}
      <script src="/js/logout.js"></script>
    {{/if}}
  </body>
</html>